{% extends "teachernav.jinja2" %}
{% block content %}
<div>
<table style="width:100%">

<tr>

    <td> <button onclick="window.location.href = '/reportchecktest';">studentwise</button>


    </td>
    <td><button onclick="window.location.href = '/testwise2';">testwise</button>
    </td>


  </tr>


</table>

</div>


{% endblock content %}
