<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<body>



<form action="/login" method= "GET">
<input type="submit" name="teacher" value="Teacher">
</form>


<form action="/login.jinja2" method= "GET">
<input type="submit" name="student" value="student">
</form>


</body>
</html>
