{% extends "studentnav.jinja2" %}
{% block content %}
<form action="/addcourseform">
<div class="w3-container">



<input class="btn btn-primary" type= "submit" value="+" title="Add course">
</div>
</form>







<table style="width:100%">
  <tr>
    <th>Course ID</th>
    <th>Course name</th>

  </tr>
{%for i in course :%}
  <tr>

    <td> {{i.course_id}}</td>
    <td><form action="/studentchecktest">
      <input type="hidden" name ="course_id" value={{i.course_id}}>

      <input type="submit" value="{{i.course_name}}"></form>
    </td>

  </tr>
{% endfor %}

</table>




{% endblock content %}
