{% extends "teachernav.jinja2" %}
{% block content %}

    <form action="/check">
    <div class="w3-container">



    <input class="w3-button w3-xlarge w3-circle w3-black align-center" type= "submit" value="+" title="Add course">
    </div>
    </form>


{% endblock content %}
