{% extends "teachernav.jinja2" %}
{% block content %}
<div>

<div class="container">
  <h2> Create Quiz</h2>
  <form action="/quiz2" method="POST">
    <div class="form-group">
      <label for="cname">Quiz Name:</label>
      <input type="text" class="form-control" id="cname" placeholder="Enter quiz  name" name="tname" required>
    </div>
    <div class="form-group">
      <label for="cname">Quiz number:</label>
      <input type="text" class="form-control" id="cname" placeholder="Enter quiz  num" name="tno" required>
    </div>


    </div>



    <input type="submit" class="btn btn-default" name="formone">
  </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">    </script>

<script>
$("#cname").keypress(function () {
      var _val = $("#cname").val();
      var _txt = _val.charAt(0).toUpperCase() + _val.slice(1);
      $("#cname").val(_txt);
  })
  </script>


{% endblock content %}
