{% extends "teachernav.jinja2" %}
{% block content %}
<div>
<form action="/optionforadd" method="POST">
<table style="width:100%">
  <tr>
    <th>Question No</th>
    <th>Question</th>
    <th>Answer</th>
  </tr>
{%for i in det :%}
  <tr>

    <td> {{i.question_no}}</td>
    <td> {{i.Question_name}}</td>
    <td> {{i.Answer}}</td>


    </td>

  </tr>
{% endfor %}

</table>
<input type="submit" class = "btn btn-primary" value="ADD QUESTION">
</form>


</div>
{% endblock content %}
