
{% extends "teachernav.jinja2" %}
{% block content %}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light2", "dark1", "dark2"
	animationEnabled: true, // change to true
	title:{
		text: "Marks"
	},
  axisY:{includeZero: false},
	data: [
	{
		// Change type to "bar", "area", "spline", "pie",etc.
		type: "line",
		dataPoints: [
    {%for i in query :%}
			{ label: "{{i.test_id}}",  y: {{i.percentage}}  },
		{% endfor %}
		]
	}
	]
});
chart.render();

}

</script>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>


<p>




</p>
<div>
<form action="/reportdownload1" method="POST" enctype=multipart/form-data><p>
<i class="fa fa-download"></i>
<input type="submit" class="btn" value="Download report">
</form>

</div>
<table style="width:100%">
  <tr>
    <th>Test ID</th>
    <th>Marks</th>

  </tr>
{%for i in query :%}
  <tr>

    <td> {{i.test_id}}</td>
    <td> {{i.mark}} </td>

  </tr>

{% endfor %}

</table>


{% endblock content %}
