{% extends "studentnav.jinja2" %}
{% block content %}





<div class="container">
  <h2> Your performance:</h2>


  <form action="/#" method="POST">
  {%for i,k in question %}
    <div class="form-group">

      <label for="name">Question no:<p>{{i.question_no}}</p></label>

    </div>
    <div class="form-group">
      <label for="name">Question:<p>{{i.Question_name}}</p></label>

    </div>

    <div class="form-group">

    <p>Your answer:{{a}}</p><br>

    </div>

    <div class="form-group">
      <label for="name">Link Question:<p>{{i.linkques_name}}</p></label>


    <div class="form-group">

        <p>Your Answer:{{b}}</p>
    </div>
      </div>
 <label for=sug>Suggestion:{{ sug }}</label>
    {% endfor %}

</form>
</div>
<script>
window.location.hash="no-back-button";
window.location.hash="Again-no-back-button";;
window.onhashchange=function(){window.location.hash="no-back-button";}
</script>
{% endblock content %}
