{% extends "studentnav.jinja2" %}
{% block content %}

<div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="text-left">
            <form action="/studcommentstore" method="POST">
            {% for i in range(0,count):%}
              <p> {{query[0][i]}}:{{query[1][i]}}</p>
            {% endfor %}
            <p class="lead emoji-picker-container">
            <textarea class="form-control textarea-control" id="name3" rows="3" name="comment" placeholder="Textarea with emoji image input" data-emojiable="true"></textarea>
            </p>
            <button type="submit" value="send" class="btn btn-default"> Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">    </script>

<script>
$("#name3").keypress(function () {
      var _val = $("#name3").val();
      var _txt = _val.charAt(0).toUpperCase() + _val.slice(1);
      $("#name3").val(_txt);
  })


  </script>

{% endblock content %}
