{% extends "teachernav.jinja2" %}
{% block content %}

<table style="width:100%">
  <tr>
    <th>Test ID</th>
    <th>Test name</th>

  </tr>
{%for i in query :%}
  <tr>

    <td> {{i.test_id}}</td>
    <td><form action="/tviewattendance2" method="POST">
      <input type="hidden" name ="test_id" value={{i.test_id}}>

      <input type="submit" value="{{i.test_name}}"></form></td>

  </tr>
{% endfor %}

</table>



{% endblock content %}
